<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="hibernate">
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="hibernate.connection.password">oracle</property>
        <property name="hibernate.connection.url">jdbc:oracle:thin:@localhost:1521:xe</property>
        <property name="hibernate.connection.username">IBSUser</property>
        <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <mapping class="com.shrinfo.ibs.gen.pojo.IbsQuoteSlipHeader" />
        <mapping class="com.shrinfo.ibs.gen.pojo.IbsTask" />
        <mapping class="com.shrinfo.ibs.gen.pojo.IbsQuoteSlipDetail" />
        <mapping class="com.shrinfo.ibs.gen.pojo.IbsRoles" />
        <mapping class="com.shrinfo.ibs.gen.pojo.IbsCustomer" />
        <mapping class="com.shrinfo.ibs.gen.pojo.IbsProductMaster" />
        <mapping class="com.shrinfo.ibs.gen.pojo.IbsVInsuredSearch" />
        <mapping class="com.shrinfo.ibs.gen.pojo.IbsDocumentTable" />
        <mapping class="com.shrinfo.ibs.gen.pojo.IbsCompanyBranch" />
        <mapping class="com.shrinfo.ibs.gen.pojo.IbsQuoteComparisionDetail" />
        <mapping class="com.shrinfo.ibs.gen.pojo.IbsUwTransactionHeader" />
        <mapping class="com.shrinfo.ibs.gen.pojo.IbsStatusMaster" />
        <mapping class="com.shrinfo.ibs.gen.pojo.IbsInsuranceCompProdLink" />
        <mapping class="com.shrinfo.ibs.gen.pojo.IbsUser" />
        <mapping class="com.shrinfo.ibs.gen.pojo.IbsUserRoleLink" />
        <mapping class="com.shrinfo.ibs.gen.pojo.IbsMasLookup" />
        <mapping class="com.shrinfo.ibs.gen.pojo.IbsCustomerEnquiry" />
        <mapping class="com.shrinfo.ibs.gen.pojo.IbsUserProductLink" />
        <mapping class="com.shrinfo.ibs.gen.pojo.IbsRolesProductPrivileges" />
        <mapping class="com.shrinfo.ibs.gen.pojo.IbsContact" />
        <mapping class="com.shrinfo.ibs.gen.pojo.IbsCompany" />
        <mapping class="com.shrinfo.ibs.gen.pojo.IbsRecordTypes" />
        <mapping class="com.shrinfo.ibs.gen.pojo.IbsInsuranceCompanyContact" />
        <mapping class="com.shrinfo.ibs.gen.pojo.IbsUwTransaction" />
        <mapping class="com.shrinfo.ibs.gen.pojo.IbsInsuredMaster" />
        <mapping class="com.shrinfo.ibs.gen.pojo.IbsProductUwFields" />
        <mapping class="com.shrinfo.ibs.gen.pojo.IbsInsuranceCompany" />
        <mapping class="com.shrinfo.ibs.gen.pojo.IbsQuoteComparisionHeader" />
    </session-factory>
</hibernate-configuration>
